<launch>
    <arg name="arg_name" default="py"/>

<node pkg="motion_controller" name="motion_controller_py"  type="motion_controller__.py" if="$(eval arg_name == 'py')"/>
<node pkg="motion_controller" name="motion_controller"  type="motion_controller"  if="$(eval arg_name != 'py')"/>
     <node pkg="taotao" name="taotao"  type="taotao"/>
</launch>
